* {
    box-sizing: border-box;
}

:root {
    font-family: ui-sans-serif;
}

h1,
.repo,
.filter {
    text-align: center;
}

h1 {
    font-weight: normal;
}

.container {
    margin: 0 auto;
    /*width: 400px;*/
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container>* {
    flex: 1 1 360px;
}

summary {
    padding: .5em 0;
}

input {
    font-size: 110%;
    padding: 3px .25em;
    border-radius: 3px;
    border: 1px solid #999;
    font-family: ui-sans-serif;

}

details {
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: .25em;
    margin: .5em 0;
}